.story-title {
	font-size: 1rem;
	font-weight: 600;
	text-transform: capitalize;
	width: 15%;
}

.story-line {
	width: 5px;
	height: 40px;
	background-color: var(--primary-color);
	border-radius: 10px;
	margin: 0 auto;
}

.story-text {
	text-align: justify;
	font-size: 0.85rem;
	width: 75%;
}

@media (max-width: 480px) {
	.story {
		flex-direction: column;
		gap: 0.55rem;
	}

	.story-title {
		width: 100%;
		text-align: center;
		margin: 0;
    font-size: 0.85rem;
		font-weight: 700;
	}

	.story-line {
		display: none;
	}

	.story-text {
		width: 100%;
		font-size: 0.8rem;
	}
}
