section.cta-box {
	background-color: var(--primary-color);
	padding: 1rem 3rem;
	border-radius: 10px;
}

.cta-box p {
	color: var(--light-color);
}

.cta-title {
	font-size: 1rem;
	font-weight: 600;
	color: var(--secondary-color);
}

.cta-box > div {
	gap: 2em;
	align-items: center;
	justify-content: center;
}

.cta-description {
	font-weight: 400;
}

.mentor-btn {
	border: 2px solid var(--light-color);
	background-color: transparent;
	color: var(--light-color);
	font-size: 0.8rem;
	font-weight: 700;
	cursor: pointer;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	transition: background-color 0.3s ease-in-out;
}

.mentor-btn:hover {
	background-color: var(--light-color);
	color: var(--primary-color);
}

.button-container {
	gap: 1em;
}

.button-container div:first-child button {
	background-color: var(--button-color);
	border: none;
	color: var(--light-color);
	font-size: 1rem;
	font-weight: 600;
	padding: 0.5rem 1rem;
}

@media (max-width: 480px) {
	section.cta-box {
		padding: 0.9rem;
		max-width: 90%;
	}

	.cta-box > div {
		flex-direction: column;
		margin-left: 0;
		align-items: center;
		gap: 0;
	}

	.cta-title {
		font-size: 1rem;
		font-weight: 700;
	}

	.cta-description {
		font-size: 0.8rem;
	}

	.button-container {
		gap: 1em;
	}

	.mentor-btn {
		font-size: 0.8rem;
	}
}
