div.modal-header {
	padding: 0.3rem 0.6rem;
}

div.modal-body {
	padding: 0;
	background-color: var(--primary-color);
	color: var(--light-color);
}

div.donate-row {
	margin: 0;
}

div.image {
	background-image: url("https://inclusionafrika.imgix.net/seller.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100;
	width: 50;
}

div.donate-instruction {
	padding: 2rem 0.5rem;
}

div.donate-instruction p:nth-child(1) {
	font-size: 0.9rem;
	font-weight: 400;
	text-align: justify;
	line-height: 1.5;
	padding: 0.5rem;
}

div.donate-instruction p:nth-child(2) {
	font-size: 0.8rem;
	font-weight: 500;
	text-align: justify;
	line-height: 1.5;
	color: var(--secondary-color);
}

div.modal-footer {
	padding: 0.3rem;
	justify-content: flex-start;
	align-items: flex-start;
}

.tax-info {
	font-size: 0.9rem;
}
@media (max-width: 480px) {
	div.modal-header {
		padding: 0.6rem;
	}

	div.image {
		height: 200px;
		width: 100%;
	}

	div.donate-instruction {
		padding: 0rem 0.5rem;
	}

	div.donate-instruction p:nth-child(1) {
		font-size: 0.8rem;
		padding: 0.5rem 0.2rem;
	}
}
