.header {
	height: 90px;
	transition: height 0.3s ease-in-out;
}

.header.scrolled {
	height: 70px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.logo {
	width: 250px;
	height: auto;
}

div.donate.mobile {
	display: none;
}

.donate button {
	background-color: #009933;
	border: none;
	padding: 0.4em 1.1em;
	font-weight: 600;
	font-size: 1rem;
}

.donate button:hover {
	background-color: #014518;
}

.mobile {
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

div.mobile-screen {
	display: none;
}

div.mobile-screen button {
	background-color: var(--button-color);
	padding: 0.4em 0.6em;
	font-size: 15px;
	font-weight: 600;
	color: var(--light-color);
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

div.mobile-screen button:hover {
	background-color: #014518;
}

.mobile a {
	font-size: 1rem;
	color: var(--primary-color);
	font-weight: 500;
	position: relative;
	padding: 0.1em 0;
	display: inline-block;
}

.mobile a::before {
	content: "";
	position: absolute;
	bottom: -2px;
	left: 10px;
	width: 0;
	height: 3px;
	background-color: var(--primary-color);
	transition: width 0.3s ease-in-out;
}

.mobile a:hover:not(.active)::before {
	width: 50%;
}

.mobile a.active::before {
	width: 70%;
}

div.dropdown-menu a {
	padding: 1rem;
}

div.dropdown-menu a:hover {
	background-color: none;
}

.dropdown-item.active {
	background-color: white !important;
	color: black !important;
}

@media (max-width: 992px) {
	div.mobile-screen {
		display: flex;
	}

	.header {
		height: 65px;
    /* color: antiquewhite; */
	}

	.header.scrolled {
		height: 65px;
	}

	.logo {
		width: 180px;
		margin-bottom: 0rem;
    margin-right: 0.6rem !important;
	}

	.mobile {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 50% 0;
	}

	.mobile a {
		text-align: center;
		padding: 0.7em 0;
		font-size: 1.1rem;
		font-weight: 600;
		color: aliceblue;
	}

	.mobile a:hover {
		color: white;
	}

	.mobile a.active {
		padding: 0.5em 0;
	}

	.mobile a::before {
		width: 0;
		height: 0;
	}

	.mobile a:hover::before,
	.mobile a.active::before {
		width: 0;
		height: 0;
	}

	div.dropdown-menu {
		background: none;
		border: none;
		border-radius: 0;
		padding: 0;
		margin: 0;
		z-index: 5;
	}

	.donate {
		display: none;
	}

	.donate button {
		padding: 10px 20px;
		background-color: #10c04b;
		border: none;
		font-weight: 600;
		font-size: 0.8rem;
	}

	.dropdown-item.active {
		background-color: var(--primary-color) !important;
		color: var(--secondary-color) !important;
	}

	div.dropdown-menu a {
		margin: 0.7rem 0;
		font-size: 0.9rem;
	}

	div.dropdown-menu a:last-child {
		padding: 0;
		margin: 0;
	}

	nav {
		padding: 0 !important;
	}

	span.navbar-brand {
		margin: 0;
	}

	div.header.container {
		flex-wrap: nowrap;
	}

	span.navbar-toggler-icon {
		width: 32px;
		height: 35px;
	}
}
