.partner-container {
	background-color: var(--primary-color);
  color: var(--light-color);
  padding: 1rem 0;
  border-radius: 10px;
}

section.partner-container hr {
  background-color: var(--secondary-color);
}

.partners {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
	width: 100%;
  gap: 2rem;
}

@media (max-width: 480px) {

  .partner-container {
    max-width: 90%;
  }
  .partners {
    gap: 0;
    width: 100%;
  }

  .partner {
    width: 7rem;
    padding: 1rem 0;
  }
}