.testimonial-card {
	position: relative;
	background-color: var(--primary-color);
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	width: 300px;
	margin: 20px;
	transform: translateY(20px);
	padding: 4rem 0 0 0;
	color: var(--light-color);
}

.testimonial-image {
	position: absolute;
	top: -15%;
	left: 50%;
	transform: translateX(-50%);
	width: 110px;
	height: 110px;
	overflow: hidden;
	border-radius: 50%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.testimonial-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.testimonial-text {
	padding: 20px;
	text-align: center;
}

.testimonial-text p {
	font-size: 16px;
	margin-bottom: 10px;
}

.testimonial-author {
	font-style: italic;
	color: var(--light-color);
	font-weight: 700;
}

.text-country {
	color: var(--secondary-color);
}
