.card-group {
	gap: 2rem;
}

div.card {
	border: none;
}

.card img {
	height: 200px;
	object-fit: cover;
	border-radius: 10px 10px 0 0 !important;
}

.card-body {
	border: none;
	background-color: var(--primary-color);
	border-radius: 0 0 10px 10px;
}

h3.card-title {
	color: var(--secondary-color);
	font-weight: bold;
	text-align: center;
	font-size: 1rem;
}

.card-text {
	color: var(--light-color);
	font-size: 0.8rem;
	text-align: justify;
	line-height: 1.7;
}

@media (max-width: 480px) {
	.card-group {
		gap: 1rem;
		flex-direction: column;
	}

	.card img {
		height: 150px;
	}

	h5.card-title {
		font-size: 1.05rem;
	}
}
